# OpenAI API configuratie
OPENAI_API_KEY="your_openai_api_key_here"

# Spinweb configuratie
SPINWEB_USER="your_username_here"
SPINWEB_PASS="your_password_here"
SPINWEB_LOGIN="https://spinweb.nl/inloggen/form"
SOURCE_URL="https://spinweb.nl/interim-aanvragen?categories=ICT"
PROVIDER_NAME="spinweb.nl"
